<html>
<head>
    <title>DC</title>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- <link rel="apple-touch-icon" href="iphon_tetris_icon.png"/> -->

    <link href="{{ url_for('.static', filename='normalize.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('.static', filename='screen.css') }}" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="{{ url_for('.static', filename='favicon.png') }}">

</head>
<body>
    <div id="main" class="container">
        <h2>
            What would you like to report?
        </h2>
        <ul>
            <li><a class="btn" data-report="coffee">Coffee</a></li>
            <li><a class="btn" data-report="food">Food</a></li>
        </ul>
    </div>

    <!-- COFFEE -->
    <div id="coffee" class="container hidden" data-next="coffee2">
        <h2>
            What type?
        </h2>
        <ul>
            <li><a class="btn" data-type="cortado">Cortado</a></li>
            <li><a class="btn" data-type="macchiato">Macchiato</a></li>
            <li><a class="btn" data-type="coffee">Coffee</a></li>
            <li><a class="btn" data-type="americano">Americano</a></li>
            <li><a class="btn" data-report="main">Back</a></li>
        </ul>
    </div>
    <div id="coffee2" class="container hidden">
        <h2>
            How much?
        </h2>
        <ul>
            <li><a class="btn" data-amount="1.00">$1.00</a></li>
            <li><a class="btn" data-amount="1.00">$2.00</a></li>
            <li><a class="btn" data-amount="2.50">$2.50</a></li>
            <li><a class="btn" data-amount="3.25">$3.25</a></li>
            <li><a class="btn" data-amount="4.00">$4.00</a></li>
            <li><a class="btn" data-amount="5.00">$5.00</a></li>
            <li><a class="btn" data-report="coffee">Back</a></li>
        </ul>
    </div>

    <!-- FOOD -->
    <div id="food" class="container hidden" data-next="food2">
        <h2>
            Which meal?
        </h2>
        <ul>
            <li><a class="btn" data-type="breakfast">Breakfast</a></li>
            <li><a class="btn" data-type="lunch">Lunch</a></li>
            <li><a class="btn" data-type="dinner">Dinner</a></li>
            <li><a class="btn" data-type="snack">Snack</a></li>
            <li><a class="btn" data-report="main">Back</a></li>
        </ul>
    </div>
    <div id="food2" class="container hidden">
        <h2>
            How much?
        </h2>
        <ul>
            <li><a class="btn" data-amount="1.00">$1.00</a></li>
            <li><a class="btn" data-amount="3.00">$3.00</a></li>
            <li><a class="btn" data-amount="5.00">$5.00</a></li>
            <li><a class="btn" data-amount="7.00">$7.00</a></li>
            <li><a class="btn" data-amount="10.00">$10.00</a></li>
            <li><a class="btn" data-amount="15.00">$15.00</a></li>
            <li><a class="btn" data-amount="20.00">$20.00</a></li>
            <li><a class="btn" data-amount="25.00">$25.00</a></li>
            <li><a class="btn" data-amount="30.00">$30.00</a></li>
            <li><a class="btn" data-amount="40.00">$40.00</a></li>
            <li><a class="btn" data-amount="50.00">$50.00</a></li>
            <li><a class="btn" data-report="food">Back</a></li>
        </ul>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script>
        var current_env = {};
        $(function() {
            $("a").click(function() {
                var report = $(this).data().report;
                var type   = $(this).data().type;
                var amount = $(this).data().amount;

                if (typeof(report) !== 'undefined') {
                    current_env.report = report;
                    $("#"+report).show();
                    $(this).parents(".container").hide();
                } else if (typeof(type) !== 'undefined') {
                    current_env.type = type;
                    var cont = $(this).parents(".container");
                    $("#"+cont.data().next).show();
                    cont.hide();
                }
            });
        });
    </script>

</body>
</html>

